/* Hero Section Styling */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
    background: white;
    
    height:60vh;
  }
  
  .hero-text {
    max-width: 50%;
  }
  
  .priority-text {
    color: orange;
    font-weight: bold;
    font-size: 24px;
  }
  
  h1 {
    font-size: 60px;
    font-weight: bold;
    color: black;
    margin: 10px 0;
  }
  
  .highlight {
    color: #2196F3; /* Blue color */
  }
  
  .hero-image img {
    width: 600px;
    max-width: 100%;
  }
  /* Ride Booking Section */
.ride-booking-container {
    text-align: center;
    padding: 50px 80px;
    
    height:60vh;
  }
  
  .ride-title {
    font-size: 48px;
    font-weight: bold;
    color: #1a1a1a;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .ride-options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .ride-card {
    text-align: center;
    width: 30%;
    height:70%;
    margin-top: 70px;
  }
  
  .ride-card img {
    width: 330px;
    margin-bottom: 10px;
  }
  
  .ride-card h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    color:rgb(9, 9, 9);
  }
  
  .ride-card p {
    font-size: 14px;
    color: gray;
    margin-bottom: 15px;
  }
  
  .learn-more {
    width: 80%;
    margin: 30px auto;
    padding: 8px;
    border: 2px solid lightgray;
    cursor: pointer;
  }
  .safe-ride-container {
    padding: 50px 80px;
    
    height:50vh;
  }
  
  .safe-ride-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .ride-image {
    width: 40%;
    margin-top: -30px;
  }
  
  .ride-text {
    width: 50%;
  }
  
  .ride-text h2 {
    font-size: 76px;
    font-weight: bold;
    color: #1a1a1a;
  }
  
  .ride-text p {
    font-size: 26px;
    color: gray;
    line-height: 1.5;
  }
  
  .features-container {
    text-align: left;
    padding: 50px 80px;
    
    height:80vh;
  }
  
  .features-container h2 {
    font-size: 44px;
    font-weight: bold;
    color: #1a1a1a;
    margin-top: 40px;
    
  }
  
  .features-grid {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  
  .feature-card {
    width: 35%;
    height:75%;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .feature-card img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .feature-text {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #1a1a1a;
    margin-top: 20px;
  }
  
  .purple {
    background: #dcc6f7;
  }
  
  .blue {
    background: #aee8f7;
  }
  
  